@import url('theme.css');
body {
    font-family: Arial, sans-serif;
    color: var(--color-text);
    background: var(--color-primary-gradient);
    background-attachment: fixed;
    margin: 0;
}
div#app {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    position: fixed;
    left:0;
    right:0;
    padding: calc(var(--padding-lg) / 2);
    top: var(--navbar-height);
    bottom: 0;
    overflow: auto;
}
div#app:not(:has(div))::after {
    content: "open a page to see content";
    color: var(--color-gray-bg-transparent);
    font-size: larger;
    font-style: italic;
    line-height: calc(100vh - var(--navbar-height) - 2 * var(--padding-lg));
}
div#app::-webkit-scrollbar {
    background: transparent;
}
div#app::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

/* Primary Navigation */
nav {
    position: fixed;
    display: flex;
    left:0;
    right:0;
    top: 0;
    height:80px;
    z-index: 3000;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px var(--color-shadow);
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}
nav .hamburger-menu {
    right: 0;
    margin: 22px;
    position: absolute;
    left: auto;
}
nav img {
    height: 64px;
    width: auto;
    margin: 8px 20px;
}
nav #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav #navbar a {
    margin: auto 40px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-primary);
}
nav #navbar a.active {
    color: var(--color-primary-light);
}
nav #navbar a:hover {
    text-decoration: underline;
}
nav #navbar .login-out-button {
    position: absolute;
    right: 20px;
}
/* Custom Webkit Scrollbar with rounded corners */
::-webkit-scrollbar {
    z-index: 1000;
    width: 10px;
    height: 10px;
    background: var(--color-gray-bg);
    border-radius: var(--radius-lg);
}
::-webkit-scrollbar-thumb {
    background: var(--color-gray);
    margin: 2px;
    border-radius: var(--radius-lg);
    width: 8px;
}
p {
    margin: 0;
    color: var(--color-text);
}










.container {
    background: var(--background-color);
    box-shadow: 0 4px 8px var(--color-shadow);
    border-radius: var(--radius-lg);
    padding: var(--padding-md);
    width: 90%;
    max-width: var(--page-width-large);
    min-height: calc(100vh - var(--navbar-height) - 2 * var(--padding-lg));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    margin: calc(var(--padding-lg) / 2);
    overflow: auto;
}




.container:has(.reading-page) {
    max-width: var(--page-width-small); /* Limit width for reading pages */
}
.reading-page {
    margin: 0 auto;
    padding: 1rem 4rem;
    line-height: 1.6;
    color: var(--color-text);
}






/* Form Layout */
.submission-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1200px;
    padding: 1rem;
}

.form-group {
    flex: 1 1 200px;
    min-width: 200px;
    margin-bottom: 1rem;
    text-align: left;
}

/* Labels */
.form-group label {
    display: block;
    font-size: 0.8rem;
    color: var(--color-text-light);
    margin-bottom: 0.3rem;
}

/* Form Controls */
.form-group input,
.form-group select,
.submit-button {
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    transition: border-color 0.15s ease-in-out;
}

.form-group input:focus,
.form-group select:focus {
    border-color: var(--color-accent-light);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--color-shadow);
}

/* Button Container */
.button-container {
    flex: 1 1 100%;
    display: flex;
    /*flex-direction: column;*/
    gap: 1rem;
}

/* Button styles */
.submit-button, 
button {
    background-color: var(--color-blue);
    color: var(--color-text-inverted);
    border: none;
    cursor: pointer;
    max-width: 200px;
    min-width: 100px;
    height: 38px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: var(--radius-md);
    box-shadow: 2px 2px 8px -4px var(--color-shadow);
    transition: background-color 0.15s ease-in-out;
}

.submit-button:hover, 
button:hover {
    background-color: var(--color-blue-hover);
}


/* Modal dialogs */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--color-modal-bg-gradient);
    background: var(--color-modal-bg-gradient);
    overflow: auto;
    transition: opacity 0.18s ease-in-out;
    opacity: 0;
}
.modal-content {
    background-color: var(--background-color);
    margin: 15% auto 0 auto; /* 15% from the top and centered */
    border: 1px solid var(--color-border);
    width: 50%; /* Could be more or less, depending on screen size */
    min-width: 300px;
    max-width: 500px;
    box-shadow: 0 4px 8px var(--color-shadow);
    border-radius: var(--radius-lg);
    overflow: hidden;
}
.modal-content:has(.modal-header) {
    padding-top: 0px;
}
.modal-header {
    display: flex;
    flex-direction: row;
    /*border-bottom: 1px solid var(--color-border);*/
    margin-bottom: 5px;
    justify-content: space-between;
    padding: 5px;
}
.modal-header h1 {
    margin: 0;
    font-size: 1rem;
    color: var(--color-text);
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.modal-close {
    /*transform: translateX(80%);*/
    width: 16px;
    height: 16px;
    line-height: 18px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.modal-close:only-child {
    margin-left:auto;
}

.modal-close:hover {
    background-color: var(--color-gray-bg-hover);
    color: var(--color-text-inverted);
}
.modal-body {
    margin: 20px;
}




/* Tab Navigation */
.tabs {
    position: relative;
    top: 1px;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 38px;
    margin: 0;
    padding: 0 16px;
}

.tabs.dropdown-mode {
    overflow: visible;
    white-space: normal;
    padding-left: 40px;  /* Make room for hamburger */
}

.tabs.dropdown-mode.menu-open {
    height: 38px;
    z-index: 1000;
}

.tabs.dropdown-mode .hamburger-menu {
    display: block;
}

.tabs.dropdown-mode .tab-button {
    display: none;
    width: 50%;
}

.tabs.dropdown-mode .tab-button.active {
    display: inline-block;
    
}

.tabs.dropdown-mode.menu-open .tab-button {
    display: block;
    margin: 0;
    border: 1px solid var(--color-border);
    border-radius: 0;
}

.tabs.dropdown-mode.menu-open .tab-button.active {
    background-color: var(--color-blue);
    color: var(--color-text-inverted);
}

.tabs.dropdown-mode.menu-open .tab-button:has(span) {
    padding-left: 25px;  /* Center content while making room for close button */
}

.tabs.dropdown-mode.menu-open .new-tab-button {
    display: block;
    width: 50%;
    margin: 0;
    border: 1px solid var(--color-border);
    box-shadow: inset 0 -8px 16px -16px var(--color-shadow);
    border-radius: 0 0 var(--radius-md) var(--radius-md);
    max-width: 100%;
}

.tab-button {
    display: inline-block;
    margin: 0 2px;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--color-border);
    border-bottom: none;
    background-color: var(--color-gray-bg);
    color: var(--color-text);
    max-width: 100%;
    height: auto;
    border-radius: 0;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    box-shadow: inset 0 -8px 16px -16px var(--color-shadow);
}

.tab-button.active {
    background-color: var(--background-color);
    color: var(--color-text);
    top: 1px;
    box-shadow: -3px -3px 6px -6px var(--color-shadow);
}

.tab-button:hover {
    background-color: var(--background-color);
}

.tab-container {
    padding: 20px 0 0 0;
    text-align:center;
    overflow-x:auto;
    flex: 1;
    width: 100%;
    min-height: 100px;
    border-top: 1px solid var(--color-border);
    box-shadow: 0 -12px 14px -18px var(--color-shadow);
}

.tab-container:empty:after {
    content: "open a tab to see content";
    display: block;
    right: 0;
    text-align: center;
    padding: .25rem;
    color: var(--color-text-light);
    font-style: italic;
}

.tab-content {
    display: none;
    padding: none;
}

.tab-content.active {
    display: block;
}

.tab-button:has(span) {
    position: relative;
    padding-right: 25px;  /* Make room for close button */
}

.tabs-list {
    border-radius: var(--radius-md);
    overflow: auto;
    border: 1px solid var(--color-shadow);
    padding: 0;
    max-height: 312px;
}

.tabs-list button.tab-button {
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    margin:0;
    top:0;
    line-height: 1rem;
}

.tab-close {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    line-height: 18px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.tab-close:hover {
    background-color: var(--color-gray-bg-hover);
    color: var(--color-text);
}

.new-tab-button {
    width: 24px;
    height: 24px;
    min-width: 0;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    background-color: var(--color-gray-bg);
    color: var(--color-text-light);
    font-size: 18px;
    line-height: 20px;
    padding: 0;
    margin-left: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 1px 6px -2px var(--color-shadow);
}

.new-tab-button:hover {
    background-color: var(--background-color);
    color: var(--color-text-light);
}

/* Hamburger Menu */
.hamburger-menu {
    box-sizing: border-box;
    font-size: 14pt;
    display: none;
    width: 28px;
    min-width:0;
    height: 28px;
    padding: 0;
    color: var(--color-text-light);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
    background-color: var(--color-gray-bg);
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: 4px;
    /*transform: translateY(-50%);*/
    box-shadow: -1px 1px 6px -2px var(--color-shadow);
}

.hamburger-menu:hover {
    background-color: var(--background-color);
    color: var(--color-text);
}

/* Result Containers */
#resultMessage {
    margin: 1rem 0;
    font-size: 0.9rem;
    width: 100%;
}

#resultData {
    width: 100%; 
    overflow-x: auto;
}

#resultContainer {
    width: 100%;
}


/* Table Styling */

.table-wrapper{
    width: 100%;
    overflow-x: auto;
    /*margin-top: 1rem;*/
    /*border-radius: var(--radius-md);*/
    /*box-shadow: 0 0 0 1px #dee2e6;*/
    /*box-shadow: inset 2px 2px 12px 0px rgba(5, 0, 50, 0.1);*/
}

.table-wrapper:has(tbody:empty)::after {
    content: "No content";
    display: block;
    right: 0;
    text-align: center;
    padding: .25rem;
    color: var(--color-text-light);
    font-style: italic;
    background: var(--background-color);
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    border-top: 0;
}

td:has(.table-wrapper) {
    padding: 3px 3px 8px 8px;
}

th, td {
    padding: 0.5rem;
    border: 1px solid var(--color-border);
    text-align: left;
    vertical-align: top;
    min-width: 30px;
    min-height: 30px;
    max-width: 300px; /* Set maximum width for cells */
    white-space: normal; /* Allow text wrapping */
    word-wrap: break-word; /* Break long words if needed */
}

th {
    background-color: var(--color-gray);
    color: var(--color-text-inverted);
    font-weight: 400;
    position: sticky;
    top: 0;
    z-index: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

.new-row-button {
    min-width: 0;
    cursor: pointer;
    position: relative;
    padding: 0 !important;
    background-color: var(--color-gray-bg);
    transition: background-color 0.15s ease-in-out;
}
.new-row-button button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: none;
    min-width: auto;
    opacity: 0;
    padding: 0;
    margin: 0;
    height: auto;
    box-shadow: none;
}

.new-row-button::before {
    content: "+";
    display: block;
    text-align: center;
    color: var(--color-text-light);
    font-size: 20px;
    line-height: 100%;
}

/* Row delete button styling */
/* Only select .new-row-button in the top-level table's tfoot, not in nested tables or parent tables */
table:has(.dragging):not(:has(table .dragging)) > tfoot > tr > .new-row-button {
    min-width: 0;
    cursor: pointer;
    position: relative;
    padding: 0 !important;
    background-color: var(--color-red-bg);
    border: none;
    outline: none;
}
table:has(.dragging):not(:has(table .dragging)) > tfoot > tr > .new-row-button::before {
    content: "×";
    display: block;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 100%;
    transition: color 0.15s;
}

/* row is being deleted */
tfoot > tr.draggable:first-child::after {
    content: "Deleted rows";
}
tfoot > tr.draggable::after {
    content: "";
    position: absolute;
    padding-top: .25rem;
    color: white;
    inset: 0;
    background: var(--color-red-bg-transparent);
    pointer-events: none;
    font-style: italic;
    z-index: 2;
    text-align: center;
    text-shadow: 0 0 8px var(--color-shadow);
}

.row-drag-handle {
    min-width: 0;
    width: 20px;
    vertical-align: middle;
    cursor: grab;
    position: relative;
    padding: 0 !important;
    background-color: var(--color-gray-bg);
    transition: background-color 0.15s ease-in-out;
}

td.spacer-cell, th.spacer-cell {
    padding: 0px;
    min-width: 20px;
    border: none;
    background-color: transparent;
}

.row-drag-handle::before {
    content: "⋮⋮";
    display: block;
    text-align: center;
    color: var(--color-text-light);
    font-size: 12px;
    line-height: 100%;
}

.row-drag-handle:hover, :not(:has(.dragging)) .new-row-button:hover {
    background-color: var(--color-gray-bg-hover);
}

.row-clone {
    pointer-events: none;
    opacity: 0.95;
    background: var(--color-gray-bg);
    box-shadow: 0 8px 16px var(--color-shadow);
    z-index: 1000;
    max-height: 100px;
    overflow: hidden;
    transition: transform 0.1s, box-shadow 0.1s, max-height 0.2s ease-in-out, top 0.2s ease-in-out; 
}
.row-clone .row-drag-handle {
    background-color: var(--color-gray-bg-hover);
    color: var(--color-text-inverted);
    max-height: 100%;
}

/*tr.draggable {
    user-select: none;
    transition: transform 0.1s, box-shadow 0.1s, max-height 0.2s ease-in-out, top 0.2s ease-in-out;
}*/

tr.dragging, tfoot tr.draggable {
    position: relative;
}
tr.dragging::after {
    content: "";
    color: white;
    position: absolute;
    inset: 0;
    background: var(--color-gray-bg-transparent);
    pointer-events: none;
    z-index: 2;
}


.table-cell-card {
    display: block;
    border: 1px solid var(--color-border);
    padding: .25em;
    margin-top: .5em;
    background-color: var(--color-gray-bg);
    border-radius: var(--radius-md);
    transition: background-color 0.15s ease-in-out;
}
.table-cell-card:only-child {
    margin-top: 0;
}
.table-cell-card.red {
    border-color: var(--color-red);
    background-color: var(--color-red-bg);
}
.table-cell-card.orange {
    border-color: var(--color-orange);
    background-color: var(--color-orange-bg);
}
.table-cell-card.yellow {
    border-color: var(--color-yellow);
    background-color: var(--color-yellow-bg);
}
.table-cell-card.blue {
    border-color: var(--color-blue);
    background-color: var(--color-blue-bg);
}
.table-cell-card.green {
    border-color: var(--color-green);
    background-color: var(--color-green-bg);
}
.table-cell-card:hover {
    background-color: var(--color-gray-bg-hover);
}
.table-cell-card.red:hover {
    background-color: var(--color-red-bg-hover);
}
.table-cell-card.orange:hover {
    background-color: var(--color-orange-bg-hover);
}
.table-cell-card.yellow:hover {
    background-color: var(--color-yellow-bg-hover);
}
.table-cell-card.blue:hover {
    background-color: var(--color-blue-bg-hover);
}
.table-cell-card.green:hover {
    background-color: var(--color-green-bg-hover);
}

.table-edit-textarea {
    transition: background-color 0.15s ease-in-out, outline 0.05s ease-in-out;
}
tr:hover > td > .table-edit-textarea {
    background-color: var(--color-blue-bg-transparent);
}
.table-edit-textarea:focus {
    outline: solid 2px var(--color-blue-bg-hover);
}

.dirty::after {
    content: "edited";
    display: inline-block;
    /*position: relative;*/
    font-size: 0.8rem;
    color: var(--color-red);
    border-radius: var(--radius-md);
    border: 1px dashed var(--color-red);
    padding: 1.5px;
    margin: 0 4px;
    /*bottom: 1px;*/
}

button.save-button {
    background-color: var(--color-red);
}
button.save-button:hover {
    background-color: var(--color-red-hover);
}
button.save-button:disabled {
    background-color: var(--color-gray-bg);
}


/* Messages */
.loading-message {
    padding: 1rem;
    color: #666;
    font-style: italic;
}

.error-message {
    padding: 1rem;
    color: var(--color-red);
    font-style: italic;
}

/* When dragging is happening anywhere, change all cursors */
:has(.dragging) * {
    cursor: grabbing !important;
}

@media (max-width: 800px) {
    nav.open {
        height:auto;
    }
    nav #navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    nav .hamburger-menu {
        display: block;
    }
    nav #navbar a, nav #navbar button {
        display: none
    }
    nav #navbar a.active {
        color: var(--color-primary);
        display: block;
    }
    nav.open #navbar a, nav.open #navbar button {
        display: block;
        position: static;
        margin: 0.5rem;
    }


    .tabs.dropdown-mode .tab-button,
    .tabs.dropdown-mode .tab-button.active,
    .tabs.dropdown-mode.menu-open .tab-button,
    .tabs.dropdown-mode.menu-open .new-tab-button{
        width: calc(100% - 1rem); /* Adjust width for smaller screens */
        max-width: 400px;
    }

    .tabs.dropdown-mode .new-tab-button{
        display: none;
    }
}

@media print {
    input {
        border: none;
        outline: none;
        background: none;
    }
}